html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

h1, h2, h3, h4 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

.btn {
  display: inline-block;
  padding: 11px 39px;
  border-radius: 5px;
  background-color: #FF6A28;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid transparent;
}
.btn:hover {
  border-color: #FF6A28;
  background-color: transparent;
  color: #FF6A28;
}

.we-work-part {
  padding-bottom: 99px;
}

.work-cards {
  margin-top: 39px;
}

.work-card__img {
  border-radius: 8px;
  height: 210.67px;
  background-color: #c4c4c4;
}
.work-card__text .mini-card-heading {
  margin: 28px 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.work-card__text h3 {
  color: #121212;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.work-card__text span {
  color: rgba(255, 106, 40, 0.7);
  text-align: right;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 175%; /* 35px */
}
.work-card__text p {
  color: rgba(18, 18, 18, 0.83);
  text-align: justify;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 162.5%; /* 32.5px */
}

.we-work-part {
  margin-top: 111px;
}

.work-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 73px;
}

.wrapper {
  margin-top: 39px;
}

.wrapper .carousel {
  display: flex;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(33.3333333333% - 12px);
  overflow-x: auto;
  gap: 44px;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel .card {
  width: 316px;
  scroll-snap-align: start;
  cursor: pointer;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.work-card {
  width: 100%;
}

.our-clients {
  background: #f8fafb;
  padding: 56px 0 77px;
}

.clients-slider {
  margin-top: 39px;
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 1fr;
}

.client-img {
  background-color: #c4c4c4;
  border-radius: 10px;
}

.client-info h2 {
  color: #121212;
  font-family: Poppins;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.client-info h4 {
  margin: 3px 0 34px;
  color: rgba(18, 18, 18, 0.6);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 175%; /* 35px */
}
.client-info p {
  color: rgba(18, 18, 18, 0.83);
  text-align: justify;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 191%; /* 45.84px */
}

.controls {
  margin-top: 40px;
  display: flex;
  gap: 21px;
}
.controls button {
  cursor: pointer;
  width: 60px;
  height: 55px;
  background-color: white;
  border: none;
  border-radius: 8px;
}
.controls button:hover {
  background-color: #ff6a28;
}
.controls button:hover i {
  color: white;
}
.controls i {
  color: #ff6a28;
  font-size: 20px;
}

#slider-container {
  width: 100%;
  overflow: hidden;
}

#slider {
  display: flex;
  width: 200%; /* Adjust based on the number of slides */
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 50%; /* Adjust based on the number of slides */
  box-sizing: border-box;
}

.heading h2 {
  color: #121212;
  font-family: Playfair Display;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.heading .more {
  margin-top: 9px;
  display: flex;
  align-items: center;
  gap: 17px;
}
.heading .more span {
  color: rgba(18, 18, 18, 0.6);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 175%; /* 35px */
}
.heading .more .line {
  width: 67px;
  height: 2px;
  background-color: #ff6a28;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc(50% - 9px);
  }
}
@media (max-width: 800px) {
  .client-img {
    height: 413px;
    width: 100%;
  }
  .clients-slider {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 770px) {
  .carousel .card {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .mini-card-heading h3 {
    font-size: 30px;
  }
  .work-card__text p {
    font-size: 15px;
  }
  .client-info h4 {
    font-size: 14px;
  }
  .client-info p {
    font-size: 18px;
  }
  .heading h2 {
    font-size: 40px;
  }
  .heading span {
    font-size: 12px !important;
  }
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}
@media (max-width: 350px) {
  .heading h2 {
    font-size: 30px;
  }
}
@media (max-width: 300px) {
  .mini-card-heading h3 {
    font-size: 18px;
  }
  .heading h2 {
    font-size: 22px;
  }
  .client-img {
    height: 200px;
  }
  .client-info h2 {
    font-size: 18px;
  }
  .client-info p {
    font-size: 14px;
    line-height: 20px;
  }
  .more {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
  }
}

/*# sourceMappingURL=style.css.map */
